<%= form_for [@content_pack, @topic], remote: true, html: { class: "pure-form pure-g dialog-content-form", id: "topic_dialog_form" } do |f| %>
  <%= error_explanation @topic %>
  <%= f.hidden_field :content_pack_id %>
  <div class="pure-control-group">
    <div class="pure-u-1-4">
    <%= f.label :name do %>
      Name <attr title="required">*</attr>
    <% end %>
    </div>
    <div class="pure-u-3-4">
    <%= f.text_field :name, :placeholder => "topic name", :class => "pure-input-1", :maxlength => 256 %>
    </div>
  </div>
  <div class="pure-control-group">
    <div class="pure-u-1-4">
    <%= f.label :grade_level do %>
      Grade Level <attr title="required">*</attr>
    <% end %>
    </div>
    <div class="pure-u-3-4">
    <%= f.number_field :grade_level, :placeholder => "grade level", :class => "pure-input-1", :in => 1..100.99, :step => 0.01 %>
    </div>
  </div>
  <div class="pure-u-1">
    <attr>*</attr>Indicates required field.
  </div>
  <div class="actions pure-u-1">
    <%= f.button "Save", class: "pure-button pure-button-small pure-button-success", data: { disable_with: "Please wait..." } %>
    <%= f.button "Cancel", type: "button", class: "pure-button pure-button-small pure-button-cancel", data: { dismiss: true } %>
  </div>
<% end %>